{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "esmodules": true,
            "node": true,
            "chrome": "58",
            "ie": "11",
          },
          "useBuiltIns": "usage"
        }
      ]
    ],
    "plugins": ["add-module-exports"]
}